body {
  background: green;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 15px;
  padding-bottom: 5px;
}

.title {
  background: #e3f4ff;
  font-weight: 800;
  padding: 15px;
  margin: 20px;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px;
  margin: 20px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px 20px;
  text-align: center;
  padding: 10px 20px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
}
